<!doctype html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Isomorphic React Starter</title>
<link href="assets/all-08c60d54db4c49dac78e281b30146ef7.css" rel="stylesheet"></head>
<body>
<div id="react-container"><%- html %></div>
<script>
  window.__INITIAL_STATE__ = <%- state %>
</script>
<script type="text/javascript" src="assets/vendor-2900437a94ad4f7d4de4.js"></script><script type="text/javascript" src="assets/all-075bd709251e441c050d.js"></script></body>
</html>